* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  width: 100vw;
  height: 7vw;
  background-color: rgb(0, 52, 141);
  align-items: center;
  justify-content: end;
  display: flex;
}

.bannerTxt {
    font-size: 36px;
    margin: 0;
    color: rgb(102, 150, 255);
}

.ProfileImg {
    width: 64px;
    justify-content: end;
    margin-left: auto;
}

.CartbuyImg {
    width: 64px;
    justify-content: end;
}