* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   background-color: #202231;
}

#navbar {
  display: flex;
}

#navbar nav {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}

.banner {
  width: 50vw;
  height: 5vw;
    background-color: #2e3145;
  align-items: center;
  display: flex;
}

#b1 {
    background-color: #2e3145;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4;
  width: 36%;
}

#b2 {
  background-color: #2e3145;
  display: flex;
  justify-content: space-around;
  width: 64%;
  align-items: center;
}

.Logo {
  display: flex;
  justify-content: start;
  width: 64px;
}

.bannerTxt {
  font-size: 36px;
  margin: 0;
  color: rgb(255, 255, 255);
}

.ProfileImg {
  width: 3.25rem;
  justify-content: end;
  margin-left: auto;
}

.CartbuyImg {
  width: 52px;
  justify-content: end;

}

.SearchBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font: bold;
  font-size: 1rem;
  background-color: #181818;
  height: 30px;
  width: 8rem;
  border-radius: 0.5rem;
  border-style: none;
}

#Options {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font: bold;
  font-size: 1rem;
  background-color: #181818;
  height: 30px;
  width: 8rem;
  border-radius: 0.5rem;
  border-style: none;
}

#DisplayOptions {
  display: none;
  background-color: #b8b8b8;
  border-radius: 0.5rem;
  position: absolute;
  margin-top: 225px;
  height: 190px;
  width: 200px;
}

.ItensInOptions {
  background-color: #464646;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif Bold;
  list-style: none;
  font-size: 10;
  padding: 10px;
}

.ItensInOptions:hover {
  background-color: #676767;
}

#Options:hover #DisplayOptions {
  background-color: #464646;
  cursor: pointer;
  display: block;
}

.SearchBtn:hover {
  background-color: #393535;
  cursor: pointer;
}

.MarketPlace {
  color: white;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 5;
  font-weight: bold;
  padding: 5;
}

.AdIC {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.MsgIC {
  color: white;
  font-size: 2;
  font-weight: bold;
}


.page-container { 
    display: flex; 
    justify-content: space-around;
    align-items: center; 
    margin-bottom: 100px; 
    width: 100%;
    padding: 2vw;
    box-sizing: border-box;
}

.left-column { 
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    width: 45vw;
}

#Block1 { 
    background-color: red; 
}

#UpperSubtitle { 
  color: rgb(54, 101, 195);
    font-size: 1.2rem;
    font-weight: bold; 
}

#MainTitle { 
    color: white; 
    font-size: 3rem;
    font-weight: bold; 
}

#Subtitle { 
    color: rgb(185, 185, 185); 
    font-size: 1.1rem; 
    font-weight: bold; 
}

/* Left column */
#WorkAreaMain { 
    width: 38vw; 
    height: 19vw; 
    border-radius: 0.7vw; 
    display: flex;
    align-items: start;
    justify-content: space-between;
    border: 5px solid #2e3145;
     background-color: #151620;
}
#MiniBarAreaMain{
  background-color: #2e3145;
  display: flex;
  justify-content: start;
  width: 5rem;
  height: 1.6rem;
}
#BigAreaMain{
  display: flex;
  width: 2000rem;
  height: 14.5rem;
  align-items: center;
  justify-content: space-around;
}
.IconsAreaMain {
  display: flex;
  width: 10vw;
  height: 10vw;
}
/*-----Sections Buttons -----*/
#MainButton1 {
  width: 14.5vw;
  height: 3.5vw;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(0, 44, 107);
}
#MainButton2 {

}